body{
    background-image: url("../assets/gaia.jpg");
    background-size: cover;
    background-color: skyblue;
}

ul{
    list-style-type: none;
    background-color: darkslategray;
    border: 3px ridge darkcyan;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
}

.ativo{
    background-color: lightseagreen;
}

li a:hover:not(.ativo){
    background-color: black;
}

#guieq{
    float:right;
    text-align: center;
    color: white;
    padding: 14px 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.creditos{
    display: inline;
    left: 40%;
    color: white;
    text-align: center;
    text-shadow: 3px 3px darkblue;
}

.netscape{
    border: 3px ridge darkcyan;
    border-right-style: none;
    border-bottom-style: none;
    background-color: white;
    position: fixed;
    display: inline;
    text-align: center;
    right: 0;
    bottom: 0;
    padding: 2px;
    font-family: "handjet", sans-serif;
}