body{
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-color: red;
}

.list{
    list-style-type: none;
    background-color: darkslategray;
    border: 3px ridge darkcyan;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
}
.ativo{
    background-color: lightseagreen;
}

li a:hover:not(.ativo){
    background-color: black;
}

#guieq{
    float:right;
    text-align: center;
    color: white;
    padding: 14px 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fotodeperfil{
    border: 13px ridge lightseagreen;
    background-color: white;
    width: 587px;
    margin-top: 14px;
    margin-right: 14px;
    float: left;
    text-align: center;
}

#foto{
    width: 100%;
    height: auto;
}

#texto-foto{
    border: none;
}


.texto{
    border: 3px ridge darkcyan ;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.right{
    float: right;
    border: 3px ridge darkcyan;
    background-color: white;
    padding: 10px;
    text-align: center;
    margin: 14px;
}

#github{
    width: 64px;
    height: 64px;
    left: 40%;
    background-color: grey;
    border-radius: 50%;
}

#github:hover{
    background-color: darkcyan  ;
}

#dezenove{
    color: inherit;
    text-decoration: none;
}

.netscape{
    border: 3px ridge darkcyan;
    border-right-style: none;
    border-bottom-style: none;
    background-color: white;
    position: absolute;
    display: inline;
    text-align: center;
    right: 0;
    bottom: 0;
    padding: 2px;
    font-family: "handjet", sans-serif;
}
