ul{
    list-style-type: none;
    background-color: darkslategray;
    border: 3px ridge darkcyan;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
}

#guieq{
    float:right;
    text-align: center;
    color: white;
    padding: 14px 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ativo{
    background-color: lightseagreen;
}

li a:hover:not(.ativo){
    background-color: black;
}

body{
    background-image: url("../assets/teste.webp");
    background-color: blue;
}

.text{
    background-color: white;
    padding: 10px;
    text-align: center;
}

.netscape{
    position: absolute;
    display: inline;
    text-align: center;
    right: 0;
    bottom: 0;
    padding: 2px;
    font-family: "handjet", sans-serif;
}

.repositorio{
    display: inline;
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.right{
    float: right;
}

.left{
    float: left;
}